<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Output</title>
    <link rel="icon" href="{{ url_for('static', filename='logo1.png') }}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
      id="mainNav"
    >
      <div class="container px-4">
        <a class="navbar-brand" href="{{ url_for('views.base') }}">IR Project</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#summary">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#notes">Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#questions">Questions</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-success bg-gradient text-white">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">Here is your Questions, Summary and Important Points</h1>
        <p class="lead">
          Want to get some more video lecture notes !
        </p>
        <a class="btn btn-lg btn-light" href="{{ url_for('views.base') }}">Magic</a>
      </div>
    </header>
    <!-- summary section-->
    <section id="summary">
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
          </div>
          <div class="col-lg-8">
            <h2>Concise Summary:</h2>
            <ol>
              {% for sentence in short_summary.split('. ') %} {% if sentence %}
              <li>{{ sentence }}</li>
              {% endif %} {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </section>
    
    <!-- <section class="bg-light" id="notes">
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
            {% if notes %}
            <h2>Important events and keywords:</h2>
            <ul>
              {% if notes["speaker"] %}
                <li>Speaker: {{ notes["speaker"] }}</li>
              {% endif %}
              {% if notes["topic"] %}
                <li>Topic: {{ notes["topic"] }}</li>
              {% endif %}
              {% if notes["keypoints"] %}
                <li>Keypoints: {{ notes["keypoints"]|join(', ') }}</li>
              {% endif %}
            </ul>
            <h2>Time and location:</h2>
            <ul>
              {% if notes["dates"] %}
                <li>Dates: {{ notes["dates"]|join(', ') }}</li>
              {% endif %}
              {% if notes["times"] %}
                <li>Times: {{ notes["times"]|join(', ') }}</li>
              {% endif %}
              {% if notes["locations"] %}
                <li>Locations: {{ notes["locations"]|join(', ') }}</li>
              {% endif %}
            </ul>
          {% endif %}
          </div>
        </div>
      </div>
    </section>  -->


    <!-- questions section-->
    <section id="questions">
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
            <h2>Questions</h2>
            {% if reply %}
            <hr>
            <h3>Generated Quiz:</h3>
            {{ reply }}
            {% endif %}           
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">
            Made by Group 50 For Information Retrieval Project 😎
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- Core theme JS -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
